.mcolor{
    background-color: #1d7e9d;
}
.fnt1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.fnt2{
    font-family: Arial, Helvetica, sans-serif;
}
.section1{
    background-image: url(../img/bg-head.png);
    height: 700px;
}
